<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/profile.jpg" alt="profile-pic" />
        <div class="intro-text">
          <span class="name">{{ "NIKITA POGUTSA" }}</span>
          <hr class="star-light" />
          <span class="skills">{{"I am a senior game developer and team leader with 6+ years of professional experience, 6 years of academic experience,
          and many released projects under the belt. I pride myself on writing clean, scalable and reliable code that conforms to
          the principles of OOP and design patterns. I have experience in almost every level of the mobile game development
          process, from prototyping to continuous integration, platform specific issues, SDKs, analytics, optimization, and much
          more.
          
          I have considerable experience leading teams of 3-7 people, in which I have guided projects through multiple phases,
          advising my teammates, reviewing code, and making impactful decisions. As a manager, I try to promote self-sufficiency
          and professional growth while observing my team’s individual progress and being a resource when they need help. I strive
          effective communicator who understands the game development process with it’s quirks and intricacies, and this has
          translated effectively into being a manager who is invested in the success of every team member.
          
          In my free time, I enjoy reading, comedy and working on my pet projects." }}</span>
        </div>
      </div>
    </div>
  </div>
</header>
